*{
    margin: 0;
    padding: 0;
}
body{
     width: 100vw;
     height: 100vh;
}
#all{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
img{
   width: 20%;
   height: 2%;
   padding-top: 30px;

}
button{
    background-color: orange;
    padding: 5px 40px;
}
.foo{
    padding-top: 20px;
}
@media screen {
    
}